@model IEnumerable<Management_app.Models.ApplicationUser>
@{
    ViewBag.Title = "TrainerAccountView";
}

<h2>TrainerAccountView</h2>
<br />
@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td scope="row">@item.Id</td>
            <td scope="rpw">@item.UserName</td>
            <td scope="row">@item.Email</td>
            <td scope="row">@item.PasswordHash</td>
        </tr>
        }
    </tbody>
</table>